#main-content {
    opacity: 0; /* 初期状態は非表示 */
    transition: opacity 1s ease-in; /* フェードイン用 */
}
body{
    background-color: white;
}
.main{
    width: 80%;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-text{
    font-size: 5vh;
    margin: 2vh;
    display: block;

}
.serach{
    margin: 5vh;
    display: block;
    font-size: 3vh;
    transition: border 0.3s ease-in-out;
    padding: 0.9vh 1vw 0.3vh;
    border-bottom:white solid 1px ;
    
}
.serach:hover{
    border-bottom: black solid 1px;
}