.main{

    width: 80%;
    margin: auto;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}
#main-content {
    opacity: 0; /* 初期状態は非表示 */
    transition: opacity 1s ease-in; /* フェードイン用 */
}
.main-text{
    font-size: 5vh;
    margin-bottom: 2vh;
}
