.main{
    width: 80vw;
    background-color: rgba(169, 169, 169, 0.238);
    margin: 10vh auto;
    padding: 5vw 4vw 3vh;
    min-height: 35vh;

}
.pagename{
    text-align: center;
    font-size: 6vh;
    font-family: 'Academy Engraved LET', serif;

}
.total-prices{
    display: flex;
    width: 20vw;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-left: 70%;
    justify-content: space-between;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 3vh;
}
.empty_box{
    position: absolute;
    top: 30vh; /* 親要素の50%の位置 */
    left: 50%; /* 親要素の50%の位置 */
    transform: translate(-50%, -50%); 
    width: 50%;
    text-align: center;
    align-items: center;
    font-size: 2.5vh;
    margin: 5vh auto;
}
.empty_li{
    display: block;
    width: 15vw;
    height: 6vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-size: 3vh;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.empty_li:hover{
    color: white;
    background-color: black;
}

.product {
    margin-top: 1vh;
    max-height: 36vh;
    border: solid gray 1px;
    text-align: center;
    overflow: hidden;
}
.product:hover {
    opacity: 0.8;
    box-shadow: 0.5vh 0.5vh 10px rgba(128, 128, 128, 0.512);
}

.img_box{
    background-color: rgb(240, 240, 240);
    width: 100%;
    aspect-ratio: 1 / 1; /* 縦横比を1:1に設定 */
    align-items: center;
    border-bottom: solid gray 1px;
    position: relative;
}
.product_img {
    width: 100%;
    height: 100%;
    object-fit: contain;      
    margin: auto;
    /* object-fit: cover; */
}
.product_name, .product_price{
    font-size: 2vh;
    height: 3vh;
    padding: 0.5vh 0;
    white-space: nowrap; /* テキストを折り返さない */
    overflow: hidden;    /* はみ出た部分を非表示に */
    text-overflow: ellipsis;
    background-color: white;
}

.under_product{
    margin: 1vh 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.btn-left_form{
    width: 85%;
}
.btn-left {
    width: 100%;
    height: 5vh;
    padding: 0.9vh 1vw 1vh;
    font-size: 2vh;
    border: solid gray 1px;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-rigth{
    width: 15%;
    height: 5vh;
    border: solid gray 1px;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    position: relative;
}
.btn-left:hover, .btn-rigth:hover {
    background-color: black;
    color: white;
}
.like_img_btn{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.like_img{
    height: 70%;

}
.quantity_form{
    width: 20%;
    text-align: center;
}
.quantity{
    width: 100%;
}
.update-quantity{
    padding: 0.5vh 1vw;
    border: solid gray 1px;
    background-color: white;

}

.cart_delete{
    padding: 0.5vh 1vw;
    width: 70%;
    color: rgb(0, 0, 0);
    background-color: rgb(192, 192, 192);
    border: solid rgb(0, 0, 0) 1px;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: 15%;
    align-items: center;

}
.update-quantity:hover{
    background-color: gray;
    color: white;
}
.cart_delete:hover{
    background-color: black;
    color: white;
}


#notification-bar {
    display: none;
    width: 100%;
    text-align: center;
    background-color: lightgreen;
    color: black;
    padding: 10px;
    position: fixed;
    top:10vh;
    left: 0;
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* 初期状態では透明 */
    animation: slide-in 0.5s ease-in-out forwards; /* スライドインアニメーション */
    z-index: 1;
    }


/* スライドインのアニメーション */
@keyframes slide-in {
0% {
    top: -50px; /* 通知バーが画面の外から */
    opacity: 0;
}
100% {
    top: 6vh; /* 通知バーが指定位置に */
    opacity: 1;
}
}

#notification-bar.slide-out {
animation: slide-out 0.5s ease-in-out forwards; /* スライドアウトアニメーション */
}

/* スライドアウトのアニメーション */
@keyframes slide-out {
0% {
    top: 6vh;
    opacity: 1;
}
100% {
    top: -50px; /* 通知バーが画面の外へ */
    opacity: 0;
}
}

/* Sold out オーバーレイ */
.sold-out-overlay {
    position: absolute;
    top: 0;
    left: 0%;
    width: 36%;
    height: 25%;
    background-color: rgb(255, 0, 0);  /* 半透明の背景 */
    display: flex;
    justify-content: space-around; /* 左寄せ */
    align-items: flex-end;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    transform: rotate(-45deg); 
    transform-origin: left bottom;
    text-align: center;
}

#notification-bar {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(-100%);
    opacity: 0;
}

#notification-bar.slide-in {
    transform: translateY(0);
    opacity: 1;
}

#notification-bar.slide-out {
    transform: translateY(-100%);
    opacity: 0;
}
#main-content {
    transition: opacity 1s ease-out;
    opacity: 1; /* 初期状態は表示 */
}
.primary_form {
    width: 100%; /* フォーム全体を中央揃え */
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    margin: 2vh 0 4vh; /* 上下に余白を追加 */
}
.btn-primary {
    width: 20vw; /* ボタンの幅 */
    font-size: 4vh; /* フォントサイズ */
    border: solid black 1px; /* ボタンの枠線 */
    text-align: center; /* テキストを中央揃え */
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width: 1024px) {
    .pagename {
        font-size: 2.5vh;
    }
    .main{
        margin-top: 13vh;
        min-height: 20vh;
        margin-bottom: 5vh;
    }
    .empty_box {
        top:20vh;
        font-size: 18px;
    }
    .empty_li {
        font-size: 18px;
        width: 140px;
        height: 50px;

    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        gap: 1vh;
    }
    .btn-left_form{
        width: 80%;
    }
    .btn-rigth{
        width: 20%;
        height: 40px;
    }
    .btn-left {
        font-size: 15px;
        height: 40px;
    }
    .like_img{
        height: 60%;
    }
    .sold-out-text {
        font-size: 12px;
    }
    .total-prices{
        display: flex;
        width: 150px;
        font-size: 14px;
        margin-bottom: 2vh;
        margin-left: 40%;
        justify-content: space-between;
    }
    .btn-primary {
        width: 100px;
        font-size: 18px;
        border: solid black 0.5px;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .pagename {
        font-size: 25px;
    }
    .main{
        margin-top: 13vh;
        min-height: 20vh;
        margin-bottom: 5vh;
    }
    .empty_box {
        top:20vh;
        font-size: 18px;
    }
    .empty_li {
        font-size: 18px;
        width: 140px;
        height: 50px;

    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        gap: 2vh;
    }
    .btn-left_form{
        width: 80%;
    }
    .btn-rigth{
        width: 20%;
    }
    .btn-left {
        font-size: 15px;
    }
    .like_img{
        height: 60%;
    }
    #notification-bar {
        top:10vh;
    }
    /* スライドインのアニメーション */
    @keyframes slide-in {
        0% {
            top: -50px; /* 通知バーが画面の外から */
            opacity: 0;
        }
        100% {
            top: 9vh; /* 通知バーが指定位置に */
            opacity: 1;
        }
        }
        /* スライドアウトのアニメーション */
    @keyframes slide-out {
        0% {
            top: 9vh;
            opacity: 1;
        }
        100% {
            top: -50px; /* 通知バーが画面の外へ */
            opacity: 0;
        }
        }
    .sold-out-overlay {
        font-size: 8px;
    }
    .total-prices{
        display: flex;
        width: 150px;
        font-size: 14px;
        margin-bottom: 2vh;
        margin-left: 40%;
        justify-content: space-between;
    }
    .btn-primary {
        width: 100px;
        font-size: 18px;
        border: solid black 0.5px;
        text-align: center;
    }
}