/* body{
    overflow: hidden;

} */
.page_name{
    margin-top: 12vh;
    font-size: 6vh;
    font-family: 'Academy Engraved LET', serif;
    text-align: center;
}
.product_custom{
    width: 80vw;
    margin: auto;
    border: solid black 1px;
    margin-bottom: 25vh;

}
.product_custom form{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    padding: 4vh 3vw 2vh 1vh;
}
.left, .rigth{
    width: 50%;
    height: 90%;
    flex-direction: column;  
    justify-content: space-between;
    
}
.form-group, .img-group{
    word-break: keep-all;
    display: flex;
    font-size: 1h;
    margin: auto;
    margin-bottom: 3vh;    
}
.img-group label{
    margin: 0;
}

.form-group label, .img-group .inner_label{
    display: block;
    margin: 1vh 1vw;
    width: 30%;
    text-align: center;
    margin-top: 2vh;
}
.form-group input, .form-group textarea, .form-group select{
    border: solid black 1px;
    padding: 1vh;
    text-align: left;
    margin: 1vh;
    width: 70%;
}
.img-label{
    padding: 1vh;
    text-align: left;
    margin: 1vh;
    width: 70%;
}
.img_label a{
    display: block;
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;   
}

.buttons{
    position: absolute;
    bottom: -8vh;
    left:50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;  
    gap: 5vw;
}
.buttons .btn{
    text-align: center;
    padding: 0.9vh 1vw 0.3vh;
    font-size: 2vh;
    padding-bottom: 1vh;
    transition: border 0.3s ease-in-out;
    border:black solid 1px ;
}
.buttons .btn:hover{
    background-color: black;
    color: white;
    /* opacity: 0.1; */
}
@media screen and (max-width: 1024px) {
    .product_custom form{
        display: block;
    }
    .page_name {
        margin-top: 12vh;
        font-size: 5vh;
    }
    .left, .rigth{
        width: 100%;
    }
    .form-group label, .img-group .inner_label {
        font-size: 14px;
    }
    .img-group{
        display: flex;
    }
    .inner_label{
        width: 30%;
    }
    .img-label{
        width: 70%;
    }
    .product_custom{
        margin-bottom: 15vh;
    }

}
@media screen and (max-width: 768px) {
    .product_custom form{
        display: block;
    }
    .page_name {
        margin-top: 12vh;
        font-size: 4vh;
    }
    .left, .rigth{
        width: 100%;
    }
    .form-group label, .img-group .inner_label {
        font-size: 14px;
    }
    .img-group{
        display: flex;
    }
    .inner_label{
        width: 30%;
    }
    .img-label{
        width: 70%;
    }
    .product_custom{
        margin-bottom: 15vh;
    }
}