body {
    font-family: "Ten Mincho", serif;
    /* margin: 0; */
    background-color: rgb(250, 250, 250);
}

header {
    font-family: "Ten Mincho", serif;
    position: fixed;  /* 固定 */
    width: 100vw;
    height: 6vh;
    top: 0;
    left: 0;
    padding: 0.2vh;
    background-color: black;
    color: white;
    display: flex; /* 横並び */
    z-index: 1000; 
    align-items: center;
}

.search{
    /* <p>searchの部分 */
    font-family: 'Academy Engraved LET', serif;
    font-size: 4vh;
    margin: 1.8vh 0 0 2vw;
    color: white;
}

.header_rigth{
    position: absolute;
    right: 1vw;
    align-items: center;
    display: flex;
}

.header_img{
    display: inline-block;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    margin: 0.8vh;
    padding: 0.6vh;
    border: black solid 1px;
    transition: border 0.3s ease-in-out;
}

.header_homes{
    display: inline-block;
    padding: 0.9vh 0.5vh 0.3vh;
    height: 5vh;
    cursor: pointer;
    border: black solid 1px;
    font-size: 2.5vh;
    margin: 0.8vh;
    transition: border 0.3s ease-in-out;
}

.header_homes:hover,.header_rigth img:hover{
    border-bottom: white solid 1px;
}

#menu {
    display: none;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 60vh;
    height: 50vh;
    background: black;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 50;
    box-shadow: rgb(214, 214, 214) 1vh 1vh 0vh;

}
/* 画面全体を覆うオーバーレイ */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    z-index: 10; /* メニューの後ろ、他の要素の上に表示 */
    display: none; /* デフォルトで非表示 */
}

/* メニューが表示されているときにオーバーレイを表示 */
#menu.open + #overlay {
    display: block;
}


.close-button{
    position: absolute;
    top: 1vh;
    right: 1vw;
    padding: 1vh;
    cursor: pointer; 
    border-bottom: solid black 1px;
    transition: border 0.3s ease-in-out;
}

.close-button:hover {
    border-bottom: solid white 1px;
}

#menu form {
    
    position: relative;
    width: 80%;
    height: 90%;
    padding: 4vh 2vw;
    margin: auto;
}

.search_contents {
    margin: 8%;
    width: 100%;
    text-align: left;
}

form .search-input {
    font-size: 2vh;
    background-color: white;
    height: 4vh;
    width: 100%;
    margin-top: 2vh;
    color: black;
} 

form .search_contents input{
    background-color: white;
    width: 40%;
    color: black;
    text-align: center;
    padding: 0.5vh;
}
form .search_contents label{
    display: inline-block;
    width: 45%;
    padding-left: 5%;
}
#menu form button {
    padding: 1vh;
    cursor: pointer; 
    border-bottom: solid black 1px;
    transition: border 0.3s ease-in-out;
}
#menu form button:hover {
    border-bottom: solid white 1px;
}

footer{
    width: 100vw;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer p{
    color: white;
    font-size: 2vh;
    padding: 0.5vh;

}

@media screen and (max-width: 1024px) {
    .header_rigth {
        width: 65%;
        display: flex;
        justify-content: flex-end;
    }
    .header_img{
        display: inline-block;
        height: 4vh;
        width: 4vh;
        /* margin-top: 0; */
    }
    .header_homes {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #menu {
        width: 90%;
        top: 50vh;
        height: auto;
    }
    #menu form {
        padding: 3vh 2vw 3vh;
    }
    header {
        height: 9vh;
    }
    .header_rigth {
        width: 50%;
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; 
    }
    .header_img{
        display: inline-block;
        height: 4vh;
        width: 4vh;
        margin-top: 0;
    }
    .header_homes {
        margin: 0;
    }
}