{% extends 'base.html' %}
{% load static %}
{% block links %}
        <link href="{% static '/serch_app/css/index.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/serch_app/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
{% endblock links %}

{% block content %}
<section class="homes-section"> 
    <div class="square_center">
        <div class="bottons">
            <div class="hamburger-menu" id="index-menu-toggle">
                <span class="div_in_btn">SEARCH</span>
            </div>

            {% if user.is_authenticated %}
                <!-- ログインしている場合はログアウトボタンを表示 -->
                <form action="{% url 'accounts_app:logout' %}" method="post">
                    {% csrf_token %}
                </form>
                <a class="div_in_btn" href="{% url 'accounts_app:logout' %}" id="logout-link">LOGOUT</a>
            {% else %}
                <!-- ログインしていない場合はログインボタンを表示 -->
                <a class="div_in_btn" href="{% url 'accounts_app:login' %}">LOGIN</a>
            {% endif %}
            <a class="div_in_btn" href="{% url 'accounts_app:signup' %}">SINGUP</a>
        </div>
    </div>

    <p class="index-home">HOME</p>
    <p class="index-search">SEARCH</p>            
    <div class="square_2"></div>
    <div class="square_3"></div>
    <div class="square_4"></div>
    <div class="square_5"></div>

</section>

<div class="container">
    <div class="btn">
        <div class="icon">
            <i class="fab fa-tiktok"></i>
        </div>
        <span>Tik Tok</span>
    </div>
    <div class="btn">
        <div class="icon">
            <i class="fab fa-facebook-f"></i>
        </div>
        <span>Facebook</span>
    </div>
    <div class="btn">
        <div class="icon">
            <i class="fab fa-instagram"></i>
        </div>
        <span>Instagram</span>
    </div>
    <div class="btn">
        <div class="icon">
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <span>X (Twitter)</span>
    </div>
    <!-- <div class="btn">
        <div class="icon">
            <i class="fab fa-github"></i>
        </div>
        <span>GitHub</span>
    </div> -->
    <div class="btn">
        <div class="icon">
            <i class="fab fa-youtube"></i>
        </div>
        <span>Youtube</span>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
