{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block links %}
        <link href="{% static '/serch_app/css/like_and_cart.css' %}" rel="stylesheet">
{% endblock  %}
{% block content %}
<section class="main">
    <h2 class="pagename">{{ request.user }} さんの お気に入り一覧</h2>
        {% for item in likelist %}
            <ul>
                <li>
                    <div class="product">
                        <a href="{% url 'search_app:product_detail' item.product.pk %}" >
                            <div class="img_box">
                                <img class="product_img" src='{{ item.product.img1.url }}'>
                            </div>
                            <p class="product_name">{{ item.product.name }}</p>
                            <p class="product_price">{{ item.product.price|floatformat:0|intcomma }}円</p>
                        </a>
                    </div>

                    <div class="under_product">
                        <a class="btn-left" href="{% url 'search_app:add_to_cart' item.product.pk %}">
                            カートに追加
                        </a>
                        <form class="btn-rigth" action="{% url 'search_app:like_remove_item' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit"><img class="like_img" src="{% static 'images/like-after.png' %}"></button>
                        </form>
                    </div>
                </li>
            </ul>
            {% empty %}
            <div class="empty_box">
                <p >お気に入りアイテムはありません。</p>
                <a class="empty_li" href="{% url 'search_app:search_view' %}">一覧へ戻る</a>
            </div>
        {% endfor %}

</section>
{% endblock content %}