{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block links %}
        <link href="{% static '/serch_app/css/like_and_cart.css' %}" rel="stylesheet">
{% endblock  %}
{% block content %}
<section class="main">
    <h2 class="pagename">{{ request.user }} さんの お気に入り一覧</h2>
    <ul>
        {% for item in likelist %}
                <li>
                    <div class="product">
                        <a href="{% url 'search_app:product_detail' item.product.pk %}" >
                            <div class="img_box">
                                <img class="product_img" src='{{ item.product.img1.url }}'>
                                    {% if item.product.quantity == 0 %}
                                        <div class="sold-out-overlay">
                                            <p class="sold-out-text">Sold Out</p>
                                        </div>
                                    {% endif %}
                            </div>
                            <p class="product_name">{{ item.product.name }}</p>
                            <p class="product_price">{{ item.product.price|floatformat:0|intcomma }}円</p>
                        </a>
                    </div>

                    <div class="under_product">
                        <form class="btn-left_form" id="add-to-cart-form-{{ item.id }}" action="{% url 'search_app:add_to_cart' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-left">カートに追加</button>
                        </form>
                        <form class="btn-rigth" action="{% url 'search_app:like_remove_item' item.id %}" method="post">
                            {% csrf_token %}
                            <button class="like_img_btn" type="submit"><img class="like_img" src="{% static 'images/like-after.png' %}"></button>
                        </form>
                    </div>
                </li>
            {% empty %}

            <div class="empty_box">
                <p >お気に入りアイテムはありません。</p>
            </div>

        {% endfor %}
    </ul>
</section>
        <a class="empty_li" href="{% url 'search_app:search_view' %}">一覧へ戻る</a>

<div id="notification-bar"></div>
<script src="{% static '/js/like.js' %}"></script>
{% endblock content %}