<!-- 商品作成ページ -->
{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'serch_app/css/search_form.css' %}">
{% endblock  %}

{% block content %}
<h2 class="page_name">PRODUCT {% if product.id %}EDIT{% else %}CREATE{% endif %}</h2> 
    <div class="product_custom">
<!-- 商品フォーム -->
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="left">
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">商品名 :</label>
                {{ form.name }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">商品説明 :</label>
                {{ form.description }}
            </div>


            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">価格 :</label>
                {{ form.price }}
            </div>
        </div>

        <div class="rigth">
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">カテゴリー :</label>
                {{ form.category }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.quantity.id_for_label }}">数量 :</label>
                {{ form.quantity }}
            </div>
        
            <div class="img-group">
                <label class="inner_label" for="{{ form.img1.id_for_label }}">画像1 (任意) :</label>
                <div class="img_label">{{ form.img1 }}</div>
            </div>
        
            <div class="img-group">
                <label class="inner_label" for="{{ form.img2.id_for_label }}">画像2 (任意) :</label>
                <div class="img_label">{{ form.img2 }}</div>
            </div>
        
            <div class="img-group">
                <label class="inner_label" for="{{ form.img3.id_for_label }}">画像3 (任意) :</label>
                <div class="img_label">{{ form.img3 }}</div>
            </div>
        </div>


        
        
            <div class="buttons">
                <!-- 保存ボタン -->
                <button type="submit" class="btn">保存</button>
                <!-- 最初の画面に戻るボタン -->
                <a href="{% url 'search_app:search_view' %}" class="btn">戻る</a>
            </div>
        </form>
    </div>

{% endblock  %}