{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>商品詳細</title>

<link rel="stylesheet" href="{% static 'serch_app/css/reset.css' %}">
<link rel="stylesheet" href="{% static 'serch_app/css/detail.css' %}">
</head>
<body>
    <!-- <img src="{% static 'serch_app/images/土星、木星のアイコン.png' %}" class="image1">
    <img src="{% static 'serch_app/images/火星人のフリーイラスト2.png' %}" class="image2"> -->
    <div class="boxs1">
        <div class="box"></div>
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>{{ product.price|floatformat:0|intcomma }}円</strong></p>
            
            <!-- ボタンの配置 -->
            <div class="buttons">
                {% if product.user == recuest.user %}
                    <a href="{% url 'search_app:product_update' product.pk %}" class="btn btn-secondary">編集</a>
                    <form action="{% url 'search_app:product_delete' product.pk %}" method="POST" onsubmit="return confirm('本当に削除しますか?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                {% endif %}
                <a href="{% url 'search_app:add_to_cart' product.id %}">カートに追加</a>

                <a href="{% url 'search_app:product_list' %}" class="btn btn-primary">商品一覧に戻る</a> 
            </div>
        </div>
    </div>
{% endblock content %}